/* =Import Required styles
========================================================================================*/
@import url(normalize.css);
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';

/* =Box Sizing 
========================================================================================*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], textarea, select, input[type="button"], input[type="submit"], button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;  }


/* =Deafult Tag & General Classes
========================================================================================*/
html, body { -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -ms-font-smoothing:antialiased; font-smoothing:antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust:100%; }
body { font:13px/1.35 'Open Sans', Arial, Helvetica, sans-serif; color:#000; font-weight:300; }
img { vertical-align:top; border:0; }
a, input[type="button"], input[type="submit"], button, table th, table td { -moz-transition:background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -webkit-transition:background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -o-transition:background-color 0.2s ease-in, color 0.2s ease-in; -ms-transition:background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); transition:background-color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000), color 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); }
.allanim, #mainmenu li a:after, #logo, .nav-section, .action-links, .navigation-row, .shopping-cart-block, .accordion-databox .accordion-row h5:after, .footer-col h4:after, .category-img img, .overlay-border, .overlay-box, .category-list > ul > li, #sidebar, .sortby-box, .selected-color.open:before, .selected-size.open:before, .arrival-shop, .new-arrival-details, .new-arrival-images, .new-content-box-image, .new-content-box-image img, .social-icons li.ig a:before, .fmenu-link:before, #mainmenu > ul > li, #mainmenu li a:before, .remove-btn, .promo-link:before, .promo-link:after  { -moz-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -webkit-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -o-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); -ms-transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); transition:all 550ms cubic-bezier(0.450, 1.000, 0.320, 1.000); }
a { color:#f39; text-decoration:none;}
a:hover { text-decoration:underline; }
a:focus { text-decoration:none; color:#636; }
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
	a:active{ background-color:transparent;}
}
strong { font-weight:bold; }
small, .small { font-size: 85%; }
sub, sup { font-size:80% }
p { margin:0 0 20px 0; }
h1,h2, h3, h4, h5, h6 { line-height:1.3; margin:0 0 10px; font-weight:300; color:#000; text-transform:uppercase; }
h1{ font-size:24px;  }
h2 { font-size:20px;  }
h3 { font-size:18px; }
h4 { font-size:15px; font-weight:400; }
h5 { font-size:13px; font-weight:400; }
h6 { font-size:13px; }


.cf:after, .wrap:after, .topnav:after, .header-top:after, #mainmenu:after, .navigation-row:after, .footer-cols:after, .minicart-header:after, .product-info-row:after, .mini-products-list li:after, .product-view:after, .matching-items ul:after, .look-box-slider .item:after, .social-icons:after, .our-features:after, .tags-list ul.select-size:after, .tags-list:after, .select-colors:after, .sidebar-header:after, .size-box ul:after, .toolbar:after, .category-header-row:after, .category-list ul:after, .product-sets-selection-box:after, .select-product-sets-box:after, .tablet-color li:after, .product-sets-box:after, .brasnthings-shop-box ul:after,.price-product-total-box, .product-banner-col ul:after, .category-action-col:after { content:""; display:table; clear:both; }
.nodisplay { display:none; }
.nodisplay_strict { display:none !important; }
.alignleft { float:left; }
.alignright { float:right; }
:focus { outline:none; }
.text_cont p { padding:0 0 10px 0; }
.nopad p, p.nopad { padding:0; }

.cols { *zoom:1; margin-left:-20px; margin-right:-20px; clear:both; }
.cols:after {content:""; display:table; clear:both; }
.cols .col { float:left; min-height:1px; padding-left:20px; padding-right:20px; }
.cols1 .col { width:100% }
.cols2 .col { width:50% }
.cols3 .col { width:33.333333333333%; }
.cols4 .col { width:25%; }

@font-face {
	font-family:'Futura Std';
	src: url('fonts/FuturaStd-Book.eot');
	src: url('fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaStd-Book.woff2') format('woff2'),
		url('fonts/FuturaStd-Book.woff') format('woff'),
		url('fonts/FuturaStd-Book.ttf') format('truetype'),
		url('fonts/FuturaStd-Book.svg#FuturaStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'Black Jack';
	src: url('fonts/BlackJack.eot');
	src: url('fonts/BlackJack.eot?#iefix') format('embedded-opentype'),
		url('fonts/BlackJack.woff2') format('woff2'),
		url('fonts/BlackJack.woff') format('woff'),
		url('fonts/BlackJack.ttf') format('truetype'),
		url('fonts/BlackJack.svg#BlackJack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'Futura Std';
	src: url('fonts/FuturaStd-Light.eot');
	src: url('fonts/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/FuturaStd-Light.woff2') format('woff2'),
		url('fonts/FuturaStd-Light.woff') format('woff'),
		url('fonts/FuturaStd-Light.ttf') format('truetype'),
		url('fonts/FuturaStd-Light.svg#FuturaStd-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}


/* =Form Style
========================================================================================*/
button, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, select, input[type="submit"], input[type="button"] { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle;   }
button, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, input[type="submit"], input[type="button"] { -webkit-appearance:none; -webkit-border-radius:0;  border-radius:0; }
button, input { line-height:normal; }
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, select { background:#fff; padding:4px 20px; height:39px; line-height:1.55; border:solid 1px #999; color:#999; width:100%; font-size:13px; font-family:'Open Sans', Arial, Helvetica, sans-serif; -moz-transition:border-color 200ms ease-in; -webkit-transition:border-color 200ms ease-in; transition:border-color 200ms ease-in; }
input[type="text"].input-lg, input[type="password"].input-lg, input[type="email"].input-lg, input[type="tel"].input-lg, input[type="search"].input-lg, input[type="url"].input-lg { height:58px; }
input[type="text"].input-sm, input[type="password"].input-sm, input[type="email"].input-sm, input[type="tel"].input-sm, input[type="search"].input-sm, input[type="url"].input-sm { height:38px; }
textarea { width:100%; height:160px; overflow:auto; resize:vertical; padding:10px 15px;  font-family:'Open Sans', Arial, Helvetica, sans-serif; }
select { height:auto; padding:12px 42px 12px 12px; font-size:15px; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; appearance:none; position:relative; z-index:1; background:none; line-height:1.25; border-radius:0; }
select::-ms-expand { display:none; }
.custom-select { display:block; margin:0; position:relative; background:#fff; }
.custom-select:before { position:absolute; right:1px; top:1px; width:44px; background:#fff; content:''; height:44px; }
.custom-select:after { content:''; position:absolute; right:18px; top:50%; margin-top:-3px; background-image: url(../images/bgi/sprites.svg); background-repeat:no-repeat; width:13px; height:8px; background-position:-75px -151px; }
.ie select { padding-right:0; }
.ie .custom-select:before { z-index:2; height:40px; }
.ie .custom-select:after { z-index:3; }
.ie input[type="text"], .ie input[type="password"], .ie input[type="email"], .ie input[type="tel"], .ie input[type="search"], .ie input[type="url"], .ie select { line-height:32px; }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="url"]:focus, textarea:focus, select:focus { border:solid 1px #acacac;  }
input::-moz-focus-inner, button::-moz-focus-inner {border:0; padding:0;}
input[type="button"], input[type="submit"], button { background:#000; color:#fff;  border:0;  cursor:pointer; width:auto; overflow:visible; padding:13px 45px; vertical-align:middle; text-decoration:none; text-transform:uppercase; font-size:16px; line-height:1.25; font-family:'Open Sans', Arial, Helvetica, sans-serif; }
input[type="button"]:hover, input[type="submit"]:hover, button:hover { background:#ff3399; color:#fff; }
input[type="checkbox"], input[type="radio"] { margin:4px 8px 0 ; vertical-align:top;  }

::-webkit-input-placeholder { opacity:1; }
::-moz-placeholder { opacity:1; }
:-ms-input-placeholder { opacity:1; }
:-moz-placeholder { opacity:1; }

.checkbox, .radio { position: relative; float: left; margin-right: 20px; }
.form-block .form-group .checkbox label, .form-block .form-group .radio label { padding:1px 0 0 26px; display: block; line-height: 1.1; }
.checkbox input, .radio input { top: 0; left: 0; z-index: 1; cursor: pointer; opacity: 0; position: absolute; }
.checkbox input:checked + .input-helper:before, .radio input:checked + .input-helper:before { border-color: #f39; }
.checkbox input:disabled + .input-helper:before, .radio input:disabled + .input-helper:before { opacity: 0.35; }
.checkbox .input-helper:before, .radio .input-helper:before, .checkbox .input-helper:after, .radio .input-helper:after { position: absolute; content: ""; transition: all 200ms; }
.checkbox .input-helper:before, .radio .input-helper:before { left: 0; border: 1px solid #7a7a7a; }
.checkbox input { width: 18px; height: 18px; margin: 0; }
.checkbox input:checked + .input-helper:before { background-color: #f39; }
.checkbox input:checked + .input-helper:before { background-color: #f39; }
.checkbox input:checked + .input-helper:after { transform: scale(1); opacity: 1; }
.checkbox .input-helper:before { top: 0; width: 18px; height: 18px; border-radius: 2px; color: #fff; }
.checkbox .input-helper:after { content: '\2713'; font-size: 13px; left: 2px; top: 1px; font-weight: 600; color: #fff; transform: scale(0); opacity: 0; }
.radio input { width: 18px; height: 18px; margin: 0; }
.radio input:checked + .input-helper:after { transform: scale(1); }
.radio .input-helper:before { top: 0; width: 18px; height: 18px; border-radius: 50%; }
.radio .input-helper:after { width: 8px; height: 8px; background: #f39; border-radius: 50%; top: 5px; left: 5px; transform: scale(0); }


/* =Form list
========================================================================================*/
.form-block { margin:10px 0; }
.form-group { padding:10px 0 }
.form-group:after { clear:both; content:''; display:table; }
.formlist .form-group ul { margin:0; padding:0; list-style:none; }
.forgot-link { float:right; }
.form-block .form-group label { display:inline-block; padding:0 0 5px;  }
.form-inline .form-group label { float:left; width:30%; padding:10px 10px 10px 0; line-height:1.5 }
.form-inline .form-group .field-box { width:70%; float:left; }

/* =Table CSS
========================================================================================*/
table { max-width:100%; background-color:transparent; border-collapse:collapse; border-spacing:0; border:1px solid #e9edee; }
table { width:100%; margin-bottom:30px; }
table th, table td { padding:14px 15px; line-height:1.32; text-align:left; vertical-align:top; border-top:1px solid #dde1e2;  border-right:1px solid #dde1e2;}
table th:first-child { border-left:1px solid #dde1e2; }
table th { background:#e9edee; font-weight:600; padding:16px; font-size:13px; color:#505061; text-transform:uppercase; }
table tr:hover td { background:#fbfbfb; }
table tr.selected td { background:#fbfbfb; }
table thead th { vertical-align:middle; }
table caption + thead tr:first-child th, table caption + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td { border-top:0; }



ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}